# [ml]
# MongoDB username
DATABASE_USERNAME=
# MongoDB password
DATABASE_PASSWORD=
# MongoDB host
DATABASE_HOST=localhost
# MongoDB port
DATABASE_PORT=27017
# Application database name
DATABASE_NAME=
# MongoDB connection URL
DATABASE_URL="mongodb://${DATABASE_USERNAME}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}"

# [web]
# Backend API URL
NEXT_PUBLIC_BACKEND_URL="${NGROK_DOMAIN}/api"

# [tunnel]
# Ngrok authentication token
NGROK_AUTH_TOKEN=
# Ngrok public domain
NGROK_DOMAIN=
# Local frontend port
NGROK_WEB_ADDR=3000
# Local backend API port
NGROK_API_ADDR=8000
# Local ML service port
NGROK_ML_ADDR=8001